<h1>Game (<%= @game.id %>)</h1>
<%= link_to "Back to games", games_url %>
<div class="aligngames">  
  <%= render 'game', game: @game %>

  <%= link_to "Edit", edit_game_path(@game) %> | <%= link_to "Delete", @game, method: :delete, data: {confirm: "Are you sure you want to delete the game?"} %>
</div>
