<h1>Game (<%= @game.id %>)</h1>
<%= link_to "Back to games", games_url %>
<p><%= @game.gamedate %></p>
<p><%= @player1.name %>: <%= @game.p1points %></p>
<p><%= @player2.name %>: <%= @game.p2points %></p>

<%= link_to "Edit", edit_game_path(@game) %> | <%= link_to "Delete", @game, method: :delete, data: {confirm: "Are you sure you want to delete the game?"} %>
