<h1>Players in da house</h1>
<h2><%= link_to "Add New Player", new_player_path %></h2>
<h3><%= link_to "Make a Match!", new_game_path %></h3>

<% @players.each do |player| %>
  <p>
    <%= player.name %> | AKA: <%= player.nickname %> | Wins: <%= player.wins %> | Losses: <%= player.losses %><br>
    <%= link_to image_tag(player.url), player_path(player.id) %>
  </p>
<% end %>
