<h1>Players in da house</h1>

<% @players.each do |player| %>
  <p>
    <%= player.name %> | AKA: <%= player.nickname %> | Wins: <%= player.wins %> | Losses: <%= player.losses %><br>
    <%= image_tag(player.url) %>
  </p>
<% end %>
