<h1>Create your Player Profile Poop!</h1>

<%= form_for @player do |f| %>
  <p>
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :wins %><br>
    <%= f.text_field :wins %>
  </p>
  <p>
    <%= f.label :losses %><br>
    <%= f.text_field :losses %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %><br>
  </p>
  <p>
    <%= f.submit "Save!" %>
  </p>
<% end %>
