<!DOCTYPE html>
<html>
  <head>
    <title>KingpingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="headlines">Bitmaker KingPing</h1>
      <nav class="navbar">
        <ul class="navlist">
          <li class="navlistelement"><%= link_to "Players", players_path %></li>
          <li class="navlistelement"><%= link_to "View Matches", games_url %></li>
          <li class="navlistelement"><%= link_to "Create a Game", new_game_path %></li>
          <li class="navlistelement"><a href="https://www.sanrio.com/categories/hello-kitty">Don't Click!</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <img src="/images/brady-pp.jpg" >
  </body>
</html>
